# Environments
**/.venv/
**/env/
**/venv/
**/ENV/

# Python
**/__pycache__/
**/*.py[cod]
**/*$py.class
**/.pytest_cache/
**/.mypy_cache/
**/.ruff_cache/
**/dist/
**/wheels/
**/*.egg-info
**/build*/

# IDEs
**/.idea/
**/.vscode/
**/*.swo

### Logs
**/*.log

# Project Specific
/workspace/*
!/workspace/.gitkeep

# System
**/.DS_Store
**/Thumbs.db
**/*.tmp
**/*.swp

# Clouds
**/.stfolder/
**/.stversions/
**/.stignore
**/.syncthing.*.tmp
**/~syncthing~*.tmp
**/*sync-conflict*
**/*conflicted*
